/* фильтры */
div.paginator {
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
}
div.paginator div.page {
  height: 20px;
  min-width: 20px;
  border-radius: 3px;
  display: inline-block;
  text-align: center;
  padding: 3px;
  margin-left: 3px;
  margin-right: 3px;
  vertical-align: middle;
  cursor: pointer;
  font-weight: bold;
  font-size: large;
  background: #ffffffd0;
  border: 1px solid black;
}
div.paginator div.page:hover {
  background: #c5c5c5;
}

div.paginator div.page[type="selected"] {
  background: #000000;
  color: white;
}

div.paginator div.page[type="empty"] {
  background: none;
}
