table {
  border-spacing: 0px;
}
table.list {
  width: 100%;
}
table.list td {
  padding: 7px;
}
table.list thead td {
  text-align: center;
  border-bottom: 2px solid black;
}
table.list tbody tr td {
  border-right: 1px solid black;
  border-bottom: 1px dashed black;
}
table.list tbody tr td:last-child {
  border-right: none;
}
b.count {
  color: #063a52;
}
.filter {
  margin-left: 3px;
  margin-right: 3px;
}
p.filter {
  display: inline;
}
.red {
  color: red;
}
.green {
  color: green;
}
a.clean {
  padding: 5px;
  background: #063a52;
  color: white;
  text-decoration: none;
}
a.clean:hover {
  color: #063a52;
  background: white;
}
a.clean#select {
  background: #858c63;
}
table.sp td {
  padding: 5px;
}
